.hero-sec {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  background-image: url("./images/tier-frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 40px 60px 80px 60px;
}

.popup-box .hero-heading {
  gap: 26px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.popup-box .hero-heading h1 {
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 102px;
  color: #00e6ff;
  font-weight: 500;
  font-family: "pretendard";
  text-align: center;
}

.timer-wrap {
  max-width: 430px;
  padding-bottom: 12px;
  padding-top: 8px;
  margin: 0 auto;
}

.timer-content {
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.timer-box {
  padding: 10px 24px;
  border-radius: 10px;
  background-color: #9807b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.timer-box h4 {
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Pretendard";
  text-align: center;
}

.timer-box p {
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Pretendard";
  text-align: center;
}

.separator {
  font-size: 24px;
  color: #fff;
}

.bsc-wrap {
  max-width: 345px;
  margin: 0 auto;
}

.bsc-btn {
  width: 345px;
  height: 54px;
  border-radius: 10px;
  filter: drop-shadow(1.408px 2.649px 5px rgba(4, -1, -1, 0.29));
  background-image: linear-gradient(105deg, #00e5ff 0%, #ef11c9 100%);
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  gap: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bsc-btn:hover {
  background-image: linear-gradient(105deg, #05c0d5 0%, #c00ea2 100%);
}

.bsc-wrap.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 16px;
}

.d-btn {
  border-radius: 10px;
  filter: drop-shadow(1.408px 2.649px 5px rgba(4, -1, -1, 0.29));
  background-color: #9807b5;
  color: #fff;
}

.bnb-btn {
  padding: 12px 24px;
  width: 100%;
  transition: all 0.3s ease;
}

/* .bnb-btn:hover {
  background-color: #bababa;
} */

.micro-text {
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Pretendard";
  text-align: center;
  margin-bottom: 12px;
}

.inputs-wrap {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
}

.input {
  width: 100%;
  height: 59px;
  border-radius: 10px;
  filter: drop-shadow(1.408px 2.649px 5px rgba(4, -1, -1, 0.29));
  background-color: #bababa;
  border: 2px solid #9807b5;
  padding: 24px;
}

.input:focus {
  border: 2px solid #05c0d5;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrap .bsc-logo {
  position: absolute;
  right: 20px;
}

.input-label {
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.input-pay {
  padding-right: 60px;
}

.but-btn {
  height: 25px;
  color: #fff;
  border-radius: 12px;
  filter: drop-shadow(1.408px 2.649px 5px rgba(4, -1, -1, 0.29));
  background-color: #9807b5;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

.but-btn:hover {
  background-color: #05c0d5;
}
.pay-input-wrap {
  margin-bottom: 14px;
}

.connect-btn {
  font-size: 24px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 472px;
  height: 66px;
  border-radius: 10px;
  filter: drop-shadow(1.408px 2.649px 5px rgba(4, -1, -1, 0.29));
  box-shadow: inset 1.408px 2.649px 3.5px rgba(4, -1, -1, 0.35);
  background-image: linear-gradient(0deg, #00e5ff 0%, #ef11c9 100%);
  margin-top: 16px;
  transition: all 0.3s ease;
}
.connect-btn:hover {
  background-image: linear-gradient(0deg, #05bcd1 0%, #cb0eac 100%);
}

.contact-wrap {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 8px;
}

.contact-wrap h4 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
}

.contact-wrap p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #b4a8e9;
  font-weight: 500;
}

.copy-btn {
  padding: 0;
  background-color: transparent;
}

.warn-box {
  max-width: 473px;
  border-radius: 10px;
  background-color: #9807b5;
  padding: 8px 24px;
  margin: auto;
}

.warn-box p {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

/* Responsive */

@media (max-width: 1600px) {
  img.tier-heading-gif {
    height: 90px;
  }

  .timer-box h4 {
    font-size: 28px;
    line-height: 26px;
  }
  .timer-box p {
    font-size: 14px;
  }

  .bsc-btn {
    height: 44px;
    font-size: 16px;
  }

  .bnb-btn {
    padding: 8px 24px;
  }
  .micro-text {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .bsc-wrap.grid-2 {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .input-label {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .but-btn {
    font-size: 12px;
  }
  .connect-btn {
    font-size: 16px;
    height: 50px;

    margin-top: 12px;
  }

  .contact-wrap {
    margin-top: 8px;
    margin-bottom: 4px;
  }
  .contact-wrap h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .contact-wrap p {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #b4a8e9;
    font-weight: 500;
  }
  .warn-box p {
    font-size: 12px;
    line-height: 16px;
  }

  .input {
    height: 44px;
    padding: 20px;
  }
  .popup-box {
    max-width: 550px;
    padding: 30px 70px 60px 70px;
  }

  .timer-box {
    padding: 6px 18px;
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .timer-content {
    gap: 4px;
  }
  .popup-box {
    max-width: 700px;
    background-size: 105% 105%;
    padding: 20px 40px 50px 40px;
  }
  .timer-box {
    padding: 8px 16px;
  }
  .timer-box h4 {
    font-size: 24px;
    line-height: 18px;
  }

  .copy-btn img {
    min-width: 10px;
  }
  .contact-wrap h4 {
    font-size: 12px;
    line-height: 16px;
  }
  .contact-wrap p {
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #b4a8e9;
    font-weight: 500;
  }
  .warn-box p {
    font-size: 11px;
    line-height: 16px;
  }
  img.tier-heading-gif {
    height: auto;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 375px) {
}
