#loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  padding: 0px;
  margin: 0px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --wui-color-fg-200: white !important;
}

w3m-modal::part(loader) {
  display: none !important;
}

/* Or hide the entire loading overlay */
w3m-modal[loading]::part(overlay) {
  display: none !important;
}